<div class="signup" id="signup_button">
    <p>Not a Join user?</p>
    <button class="signup_button" onclick="showSignUpCloseOther()">Sign up</button>
</div>
<form onsubmit="login(); return false" id="login-container" class="login-container fade-in-login">
    <h1>Log in</h1> 
    <img src="assets/img/blue_underline.png" id="blue_underline">
    <div class="credentials">
        <input id="login-username" type="text" name="username" placeholder="Username" required>
        <input id="login-password" type="password" name="password" placeholder="Password" required>
    </div>
    <div class="remember_me_forgotten">
        <a class="password_forgotten" href="#" onclick="showForgotPwCloseOther()">Forgot my password</a>
    </div>
    <div class="login_form_buttons">
        <button type="submit" class="login_button">Log in</button>
        <button class="guest_button" id="guest_button" type="button" onclick="guestLogin()">Guest Log in</button>
    </div>
    <div id="error-login" class="error-login"></div>
</form>